.photo {
   position: relative;
   margin-bottom: 10px;
   border-radius: 0.2rem;
   overflow: hidden;

   &>img {
      width: 100%;
      vertical-align: middle;
      transition: all 0.45s ease 0s;

   }


   &__overlay {
      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;

      width: 100%;
      height: 100%;
      padding: 1rem;

      color: rgba(255, 255, 255, 0.8);
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: all 0.25s ease 0s;
   }

   &__info {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transition: all 0.35s ease 0s;
      transform: translateY(1rem);


      &>div {
         padding: 0 10px;
         color: white;
         font-weight: bold;
         font-size: 1.3rem;
      }


   }

   &:hover {
      cursor: pointer;
   }

   // &:hover>img {
   //    transform: scale(1.2);
   // }

   &:hover &__overlay,
   &:hover &__info {
      opacity: 1;
      transform: scale(1, 1);
   }
}

@media all and (max-width: 768px) {
   .photo {
      margin-bottom: 4px;

      &__info {
         &>div {
            font-size: 1rem;

            &>span {

               display: flex;
               flex-direction: column;
               align-items: center;
            }
         }
      }
   }
}