.test {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media all and (min-width: 768px) {
  .test {
    max-width: 100%;
    margin: 50px auto;
  }
}

@media all and (min-width: 1024px) {
  .test {
    max-width: 70%;
    margin: 50px auto;
  }
}